
       
            <div class="card-block">
                <form class="form-container">
                    <h4 class="ks-header">Login</h4>
                    <div class="form-group">
                        <div class="input-icon icon-left icon-lg icon-color-primary">
                            <input type="text" ng-model="user" class="form-control" placeholder="Email">
                            <span class="icon-addon">
                                <span class="fa fa-at"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-icon icon-left icon-lg icon-color-primary">
                            <input type="password" class="form-control"ng-model="pass" placeholder="Password">
                            <span class="icon-addon">
                                <span class="fa fa-key"></span>
                            </span>
                        </div> 
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-block" id="btn_login"   ng-click="doLogin(user, pass)" >Login</button>
                    </div>
                    
                    
                    <div class="form-group row">
                                            <label class="col-sm-2 form-control-label p-t-0"></label>
                                            <div class="col-sm-8">
                                                <label class="custom-control custom-radio">
                                                    <input id="radio1" name="radio" class="custom-control-input" checked="" type="radio" ng-click="accountController(true)" >
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Cliente</span>
                                                </label>
                                                <label class="custom-control custom-radio">
                                                    <input id="radio1" name="radio" class="custom-control-input" type="radio"  ng-click="accountController(false)">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Técnico</span>
                                                </label>
                                                
                                            </div>
                                        </div>
                    
                    
                   
                    <div class="ks-text-center">
                        <a href="pages-forgot-password.html">Esqueceu a senha?</a>
                    </div>
                    
                    
                    
                </form>
            </div>




