






<div class="ks-column ks-page">


    <div class="ks-content">
        <div class="ks-body ks-profile">

            <div class="ks-tabs-container ks-tabs-default ks-tabs-no-separator ks-full ks-light">

                <div class="tab-content">
                    <div class="tab-pane active" id="overview" role="tabpanel" aria-expanded="false">
                        <div class="ks-overview-tab">

                            <div class="row ">
                                <div class="col-xl-9 ks-tables-container">


                                    <div class="card panel panel-default ks-information ks-light" id="affiliates_contaier">
                                        <h5 class="card-header">
                                            <span class="ks-text">Clientes</span>

                                            <button class="btn btn-info" data-toggle="modal" data-target="#myModal">Adicionar</button>

                                        </h5>
                                        <div class="card-block ks-datatable" >

                                            <div class="row " id="affiliates_container">

                                                <div class="card panel ks-dashboard-widget ks-widget-profile-default col-sm-5">
                                                    <div class="card-block" id="affiliate_card">
                                                        <div class="ks-user">
                                                            <a href="#" class="ks-avatar">
                                                                <img src="webroot/assets/img/edgencio.jpg" width="55" height="55">
                                                            </a>
                                                            <div class="ks-info">
                                                                <a href="#" class="ks-name">Rui Patricio</a>
                                                                <a href="#" class="ks-nickname">rui.patricio@gmail.com</a>
                                                                <span class="ks-location">+258840019090</span>
                                                            </div>
                                                        </div>
                                                        <div class="ks-sections">
                                                            <div class="ks-section">

                                                            </div>
                                                            <div class="ks-section">
                                                                <span class="fa fa-star ks-icon"></span>
                                                                <span class="ks-amount">10</span>
                                                            </div>
                                                            <div class="ks-section">
                                                                <span class="fa fa-external-link-square ks-icon"></span>
                                                                <span class="ks-amount">23</span>

                                                            </div>
                                                            <div class="ks-section">

                                                            </div>
                                                        </div>
                                                        <div class="ks-about">
                                                            <div class="ks-header">Sobre</div>
                                                            <div class="ks-text">
                                                                Rui Patricio is a 19-mile (31 km) urban stream that runs through Orange County in the U.S. state of California from the Santa Ana Mountains
                                                            </div>
                                                        </div>
                                                        <div class="ks-controls container-fluid" style="align-content: center; align-self: center; align-items: center">
                                                            <a href="#" class="ks-control"  >
                                                                <span class="fa fa-remove ks-icon"></span> <span class="ks-text">Remover</span>
                                                            </a>
                                                            <a href="#" class="ks-control"  >
                                                                <span class="fa fa-plus ks-icon"></span> <span class="ks-text">Ver mais</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>





                                                <div class="card panel ks-dashboard-widget ks-widget-profile-default col-sm-5">
                                                    <div class="card-block" id="affiliate_card">
                                                        <div class="ks-user">
                                                            <a href="#" class="ks-avatar">
                                                                <img src="webroot/assets/img/edgencio.jpg" width="55" height="55">
                                                            </a>
                                                            <div class="ks-info">
                                                                <a href="#" class="ks-name">Rui Patricio</a>
                                                                <a href="#" class="ks-nickname">rui.patricio@gmail.com</a>
                                                                <span class="ks-location">+258840019090</span>
                                                            </div>
                                                        </div>
                                                        <div class="ks-sections">
                                                            <div class="ks-section">

                                                            </div>
                                                            <div class="ks-section">
                                                                <span class="fa fa-star ks-icon"></span>
                                                                <span class="ks-amount">10</span>
                                                            </div>
                                                            <div class="ks-section">
                                                                <span class="fa fa-external-link-square ks-icon"></span>
                                                                <span class="ks-amount">40</span>
                                                            </div>
                                                            <div class="ks-section">

                                                            </div>
                                                        </div>
                                                        <div class="ks-about">
                                                            <div class="ks-header">Sobre</div>
                                                            <div class="ks-text">
                                                                Rui Patricio is a 19-mile (31 km) urban stream that runs through Orange County in the U.S. state of California from the Santa Ana Mountains
                                                            </div>
                                                        </div>
                                                       <div class="ks-controls container-fluid" style="align-content: center; align-self: center; align-items: center">
                                                            <a href="#" class="ks-control"  >
                                                                <span class="fa fa-remove ks-icon"></span> <span class="ks-text">Remover</span>
                                                            </a>
                                                            <a href="#" class="ks-control"  >
                                                                <span class="fa fa-plus ks-icon"></span> <span class="ks-text">Ver mais</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                            
                                            
                                        <div class="ks-items-block center-block" style="position:relative;left:37%; margin-bottom:10px; ">
                                        <nav>
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true" class="fa fa-caret-left"></span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>
                                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                               
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true" class="fa fa-caret-right"></span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                            
                                            
                                            

                                        </div>
                                    </div>
                                </div>





                                <div class="col-lg-3">
                                    <div class="card panel panel-default ks-information ks-light">
                                        <h5 class="card-header" style="background: #017340">
                                            <span class="ks-text" style="color:#fff">Act. Recentemente</span>

                                        </h5>
                                        <div class="card-block">
                                            <ul class="ks-user-list">
                                                <li class="ks-item">
                                                    <span class="ks-avatar">
                                                        <img src="webroot/assets/img/edgencio.jpg" width="36" height="36">
                                                    </span>
                                                    <div class="ks-body">
                                                        <div class="ks-name">Janice Lynch</div>
                                                        <div class="ks-text">Developer</div>
                                                    </div>
                                                </li>

                                                <li class="ks-item">
                                                    <span class="ks-avatar">
                                                        <img src="webroot/assets/img/edgencio.jpg" width="36" height="36">
                                                    </span>
                                                    <div class="ks-body">
                                                        <div class="ks-name">Lincoln Brian</div>
                                                        <div class="ks-text">Developer</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <!-- Modal Body content-->



                <div class="form-group">
                    <h4>Introduza os dados do Cliente<h4>
                            </div>

                            <form> 
                                <div class="form-group">
                                    <label>Nomes</label>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Introduza o nome">
                                </div>





                                <div class="form-group">
                                    <label>Apelido</label>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Introduza o apelido">
                                </div>




                                <div class="form-group">
                                    <label>Telefone</label>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="(+258)">
                                </div>

                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Introduza o email" data-validation="email">

                                </div>

                            </form>





                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <button  class="btn btn-info " >
                                    Salvar
                                </button>
                            </div>
                            </div>

                            </div>

                            </div>
