

<div class="ks-column ks-page">


    <div class="ks-content">
        <div class="ks-body ks-profile">

            <div class="ks-tabs-container ks-tabs-default ks-tabs-no-separator ks-full ks-light">

                <div class="tab-content">
                    <div class="tab-pane active" id="overview" role="tabpanel" aria-expanded="false">
                        <div class="ks-overview-tab">

                            <div class="row ">
                                <div class="col-xl-1">   
                                </div>
                                <div class="col-xl-10 ks-tables-container">

                                    <list name="affiliatesList" each="customerAffiliate" src="CustomerAffiliatesFrontier.fetchAffiliatesPerPage" repeat-element="#affiliateCard" per-page="4" postFetch="postFetchAffiliates(result)">
                                    <div class="card panel panel-default ks-information ks-light" id="affiliates_contaier">
                                        <h5 class="card-header">
                                            <span class="ks-text">Afiliados</span>

                                            <button class="btn btn-info" data-toggle="modal" data-target="#myModal">Adicionar</button>

                                        </h5>

                                        <div class="card-block ks-datatable" >

                                            <div class="row " id="affiliates_container">

                                                <div id="affiliateCard" class="card panel ks-dashboard-widget ks-widget-profile-default col-sm-5">
                                                    <div class="card-block" id="affiliate_card">
                                                        <div class="ks-user">
                                                            <a href="#" class="ks-avatar">
                                                                <img src="webroot/assets/img/user.png" width="55" height="55">
                                                            </a>
                                                            <div class="ks-info">
                                                                <a href="#" class="ks-name">{{customerAffiliate.user.name}}</a>
                                                                <a href="#" class="ks-nickname">{{customerAffiliate.user.email}}</a>
                                                                <span class="ks-location">{{customerAffiliate.user.mobile}}</span>
                                                            </div>
                                                        </div>

                                                        <div class="ks-controls container-fluid" style="align-content: center; align-self: center; align-items: center">
                                                            <a href="" class="ks-control" ng-click="showRemoveAffiliateConfirmAlert(customerAffiliate.user.email)"  >
                                                                <span class="fa fa-remove ks-icon"></span> <span class="ks-text">Remover</span>
                                                            </a>
                                                            <a href="" class="ks-control" data-toggle="modal" data-target="#editAffiliateModal" ng-click="initAffiliateToEdit(customerAffiliate)">
                                                                <span class="fa fa-pencil ks-icon"></span> <span class="ks-text">Editar</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="ks-items-block" style="margin: 10px; position:relative; left:5%">                  
                                                <nav class="center" ng-show="!affiliatesList.$empty">
                                                    <ul class="pagination ">
                                                        <li class="page-item">
                                                            <a class="page-link" ng-click="affiliatesList.goToPage(1)" href="#" aria-label="First">
                                                                <span aria-hidden="true">&laquo;</span>
                                                                <span class="sr-only">First</span>
                                                            </a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link" ng-click="affiliatesList.goToPreviousPage()" href="" aria-label="Previous">
                                                                <span aria-hidden="true">&lt;</span>
                                                                <span class="sr-only">Previous</span>
                                                            </a>
                                                        </li>
                                                        <li ng-class="{'active navigation-active' : activePage == page, 'navigation-not-active' : !activePage == page}" ng-click="affiliatesList.activatePage(page)" ng-repeat="page in affiliatesList.pagesVisible" class="page-item">
                                                            <a class="page-link" style="color:#888;" href="">{{page}}</a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link" ng-click="affiliatesList.goToNextPage()" href="" aria-label="Next">
                                                                <span aria-hidden="true">&gt;</span>
                                                                <span class="sr-only">Next</span>
                                                            </a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link" ng-click="affiliatesList.goToLastPage()" href="" aria-label="Last">
                                                                <span aria-hidden="true">&raquo;</span>
                                                                <span class="sr-only">Last</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>                



                                            <div  id="customerAffiliatesNotFound" style="text-align:center; font-weight: bold; display:none">
                                                <br/>
                                                <h1 style="font-size: 100px; color:#017340;  margin-bottom:10px;">:(</h1><br>
                                                <h2>Não possui nenhum afiliado ainda!</h2>
                                                <br/> 
                                            </div>



                                        </div>

                                    </div>
                                    </list>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dados do Afiliado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="fa fa-close"></span>
                </button>
            </div>
            <div class="modal-body">


                <div class="row col-sm-12">
                    <div class="col-sm-9"></div>
                    <div class="col-sm-3">

                        <a  ng-show="!isNewAffiliate" ng-click="newAffiliate(1)" style="height: 20px;"><span style="margin-bottom: 10px; font-size: 12.2px; color: #017340; cursor: pointer;">Novo Afiliado</span></a>
                        <a  ng-show="isNewAffiliate"  ng-click="newAffiliate(0)" style="height: 20px;"><span style="margin-bottom: 10px; font-size: 12.2px; color: #017340; cursor: pointer;">Existente</span></a>

                    </div>
                </div>

                <form> 

                    <div  id="affiliate_name" class="form-group" style="display:none" >
                        <label>Nome Completo</label>
                        <input type="text" ng-model="affiliateFullName" class="form-control"  placeholder="Introduza o nome" ng-model="category_title"  required >
                    </div>

                    <div id="affiliate_phone" class="form-group" style="display:none">
                        <label>Telefone</label>
                        <input type="text"  class="form-control" ng-model="affiliatePhone" placeholder="(+258)" required>
                    </div>

                    <div id="affiliate_email" class="form-group" style="display:none">
                        <label>E-mail</label>
                        <input type="email" class="form-control" aria-describedby="emailHelp" ng-model="affiliateEmail" placeholder="Introduza o email" data-validation="email" required>

                    </div>

                    <div id="existing_affiliate_email" class="form-group">
                        <label>E-mail</label>
                        <input type="email" class="form-control" id="affiliate_typeahead" aria-describedby="emailHelp" ng-model="existingAffiliateEmail" placeholder="Introduza o email"  data-provide="typeahead" autocomplete="off" data-validation="email" required>
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default" data-dismiss="modal" >Cancelar</button>
                <button id="btn_saveAffiliate" class="btn btn-info" ng-click="showSaveAffiliateConfirmAlert(affiliateFullName, affiliatePhone, affiliateEmail, existingAffiliateEmail)" >
                    Salvar
                </button>
            </div>
        </div>

    </div>

</div>





<div id="editAffiliateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Afiliado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="fa fa-close"></span>
                </button>
            </div>
            <div class="modal-body">

                <form> 


                    <div class="form-group">
                        <label>Nome Completo</label>
                        <input type="text" ng-model="affiliateToEdit.user.name" class="form-control" placeholder="Introduza o nome" required >
                    </div>


                    <div class="form-group">
                        <label>Telefone</label>
                        <input type="text"  class="form-control" ng-model="affiliateToEdit.user.mobile" placeholder="(+258)" required>
                    </div>

                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="email" class="form-control" aria-describedby="emailHelp" ng-model="affiliateToEdit.user.email" placeholder="Introduza o email" data-validation="email" required>

                    </div>


                </form>





            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default" data-dismiss="modal" >Cancelar</button>
                <button id="btn_update_affiliate" class="btn btn-info" ng-click="showEditAffiliateConfirmAlert(affiliateToEdit.user.name, affiliateToEdit.user.mobile, affiliateToEdit.user.email)" >
                    Actualizar
                </button>
            </div>
        </div>

    </div>

</div>
