


<div class="ks-column ks-page">


    <div class="ks-content">
        <div class="ks-body ks-profile">
            <div class="ks-header">
                <div class="ks-user">
                    <img ng-show="activeUser.customer.customerType=='C'" src="webroot/assets/img/company.png" class="ks-avatar" width="100" height="100">
                    <img ng-show="activeUser.customer.customerType=='P'" src="webroot/assets/img/user.png" class="ks-avatar" width="100" height="100">
                    <div class="ks-info">
                        <div class="ks-name">{{activeUser.customer.customerName}}</div>
                        <div class="ks-description">{{activeUser.customer.customerAddress.description}}</div>
                        <div class="ks-rating">
                            <i class="fa fa-star ks-star" aria-hidden="true"></i>
                            <i class="fa fa-star ks-star" aria-hidden="true"></i>
                            <i class="fa fa-star ks-star" aria-hidden="true"></i>
                            <i class="fa fa-star ks-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o ks-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="ks-dashboard-widget ks-widget-amount-statistics ks-info">
                        <div class="ks-statistics">
                            <span class="ks-amount" data-count-up="3119">{{totalCustomerTickets}}</span>
                            <span class="ks-text">Requisiçoes </span>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="ks-dashboard-widget ks-widget-amount-statistics ks-success">
                        <div class="ks-statistics">
                            <span class="ks-amount" data-count-up="8201">{{totalPendingTickets}}</span>
                            <span class="ks-text">Pendentes</span>
                        </div>

                    </div>

                </div>

            </div>


            <div class="ks-tabs-container ks-tabs-default ks-tabs-no-separator ks-full ks-light">
                <section class="nav ks-nav-tabs" style="margin-left: 34px; margin-right: 38px">

                </section>
                <div class="tab-content">
                    <div class="tab-pane active" id="overview" role="tabpanel" aria-expanded="false">


                        <div class="row">
                            <div class="col-xl-9 ks-tables-container">

                                <div class="card panel panel-default ks-information ks-light" id="panel_pending_tickets" style="margin-bottom: 40px;" ng-if="totalPendingTickets > 0">
                                    <h5 class="card-header">
                                        <span class="ks-text">Pendentes</span>
                                        <!-- <a href="#" class="btn btn-primary-outline ks-light">Requisitar assistência</a>-->
                                    </h5>
                                    <div class="card-block ks-datatable" style="margin-bottom: 20px; margin-left: 5px">

                                        <div class="card panel panel-default ks-simple ks-widget-simple-offer" ng-repeat="pending_ticket in pendingTickets" >
                                            <div class="card-block" ng-click="showDetails(pending_ticket.id)">
                                                <a  class="ks-item">
                                                    <div class="ks-preview">
<!--                                                        <span class="ks-video-preview">
                                                            <span class="fa fa-windows ks-icon"></span>   </span>-->
                                                        <img  style="width:60px; heigh:60px" ng-show="pending_ticket.category.name=='Monitor'" src="webroot/assets/img/monitor.png">
                                                        <img  style="width:60px; heigh:60px" ng-show="pending_ticket.category.name=='Printer'" src="webroot/assets/img/printer.png">
                                                        <img  style="width:60px; heigh:60px" ng-show="pending_ticket.category.name=='Keyboard'" src="webroot/assets/img/keyboard.png">
                                                        <img  style="width:60px; heigh:60px" ng-show="pendin_ticket.category.name=='Mouse'" src="webroot/assets/img/mouse.png">
                                                        <img  style="width:60px; heigh:60px" ng-show="pending_ticket.category.name=='Antivirus'" src="webroot/assets/img/virus.png">
                                                        <img  style="width:60px; heigh:60px" ng-show="pending_ticket.category.name=='Windows'" src="webroot/assets/img/windows.png">
                                                      
                                                    </div>
                                                    <div class="ks-info">
                                                        <h5 class="ks-header">{{pending_ticket.category.name}}</h5>
                                                        <span class="ks-text" style="color: #212121">
                                                            {{pending_ticket.name}}
                                                        </span>
                                                        <span class="ks-text" style="margin-left: 10px">
                                                            {{pending_ticket.date}}
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>




                                <div class="card panel panel-default ks-information ks-light" id="panel_search_results" style="margin-bottom: 40px; display:none" >
                                    <h5 class="card-header">
                                        <span class="ks-text">Resultados da pesquisa</span>
                                        <!--                                        <a href="#" class="btn btn-primary-outline ks-light">Requisitar assistência</a>-->
                                    </h5>
                                    <div class="card-block ks-datatable" style="margin-bottom: 20px; margin-left: 5px">


                                        <div style="height: 280px; width: 280px; position: relative; left:43%; top: 100px" id="search_loader" ng-if="isSearching" >
                                            <i class="fa fa-spinner fa-spin fa-5x fa-fw"  style="margin: 0 auto; color: #017340" ></i>
                                            <span class="sr-only">Loading...</span>
                                            <p>A pesquisar...<p>
                                        </div>
                                        <div ng-if="searchResults.length > 0">
                                            <div class="card panel panel-default ks-simple ks-widget-simple-offer" ng-repeat="ticket_result in searchResults" >
                                                <div class="card-block" ng-click="showDetails(ticket_result.id)">
                                                    <a  class="ks-item">
                                                        <div class="ks-preview">
                                                            <span class="ks-video-preview">
                                                                <span class="fa fa-windows ks-icon"></span>
                                                            </span>
                                                        </div>
                                                        <div class="ks-info">
                                                            <h5 class="ks-header">{{ticket_result.category.name}}</h5>
                                                            <span class="ks-text" style="color: #212121">
                                                                {{ticket_result.name}}
                                                            </span>
                                                            <span class="ks-text" style="margin-left: 10px">
                                                                {{ticket_result.date}}
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>




                                <div class="card panel panel-default ks-information ks-light" ng-show="showTable">
                                    <h5 class="card-header">
                                        <span class="ks-text">Todas Assistências</span>
                                        <div class="dataTables_filter" id="ks-datatable_filter">
                                            <!--                                            <input aria-controls="ks-datatable" placeholder="Pesquisar..." class="form-control input-sm" type="search">-->

                                        </div>
                                    </h5>
                                    <div class="card-block ks-datatable">
                                        <list name="ticketsList" each="ticket" src="CustomerTicketsFrontier.historyTable" repeat-element=".tableTicketRow" per-page="10" postFetch="postFetchTickets(result)">  
                                        <table id="ks-datatable" class="table table-striped table-bordered" cellspacing="0" width="100%" style="width:100%" >
                                            <thead>
                                                <tr>
                                                    <th>Data</th>
                                                    <th>Problema</th>
                                                    <th>Requisitada à</th>
                                                    <th>Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!--                                                <tr id="tableTicketRow" ng-repeat="ticket in tickets" ng-click="showDetails(ticket.id)">-->
                                                <tr class="tableTicketRow"  ng-click="showDetails(ticket.id)">
                                                    <td>
                                                        <a href="#">{{ticket.date}}</a>
                                                    </td>
                                                    <td>{{ticket.name}}</td>
                                                    <td>
                                                        <div class="ks-user">
                                                            <span class="ks-name">{{ticket.technician.supplier.name}}</span>
                                                        </div>
                                                    </td>
                                                    <td>
<!--                                                        <span class="badge ks-circle badge-success"  >{{ticket.status}}</span>-->

                                                        <span class="badge ks-circle badge-success" ng-show="ticket.status === 'Terminado'">{{ticket.status}}</span>
                                                        <span class="badge ks-circle badge-warning" ng-show="ticket.status === 'Em progresso'">{{ticket.status}}</span>
                                                        <span class="badge ks-circle badge-danger" ng-show="ticket.status === 'Pendente'">{{ticket.status}}</span>
                                                        
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        </list>
                                    </div>



                                    <div class="ks-items-block" style="margin: 10px; position:relative; left:1%">                  
                                        <nav class="center" ng-show="!ticketsList.$empty">
                                            <ul class="pagination ">
                                                <li class="page-item">
                                                    <a class="page-link" ng-click="ticketsList.goToPage(1)" href="#" aria-label="First">
                                                        <span aria-hidden="true">&laquo;</span>
                                                        <span class="sr-only">First</span>
                                                    </a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" ng-click="ticketsList.goToPreviousPage()" href="" aria-label="Previous">
                                                        <span aria-hidden="true">&lt;</span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>
                                                <li ng-class="{'active navigation-active' : activePage == page, 'navigation-not-active' : !activePage == page}" ng-click="ticketsList.activatePage(page)" ng-repeat="page in ticketsList.pagesVisible" class="page-item">
                                                    <a class="page-link" style="color:#888;" href="">{{page}}</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" ng-click="ticketsList.goToNextPage()" href="" aria-label="Next">
                                                        <span aria-hidden="true">&gt;</span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" ng-click="ticketsList.goToLastPage()" href="" aria-label="Last">
                                                        <span aria-hidden="true">&raquo;</span>
                                                        <span class="sr-only">Last</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>                


                                </div>







                                <div  id="customerTicketsNotFound" class="card panel panel-default ks-information ks-light" style="display:none">
                                    <div style="text-align:center; font-weight: bold;">
                                        <br/>
                                        <h1 style="font-size: 100px; color:#017340;  margin-bottom:10px;">:(</h1><br>
                                        <h1>Nenhum ticket criado!</h1>
                                        <br/> 
                                    </div>

                                </div>
                            </div>





                            <div class="col-lg-3">
                                <div class="card panel panel-default ks-information ks-light">
                                    <h5 class="card-header" style="background: #017340">
                                        <span class="ks-text" style="color:#fff">Pesquisa Avançada</span>
                                    </h5>


                                    <form style="padding: 10px"> 
                                        <label>Categoria:</label>
                                        <div class="form-group">
                                            <input type="text" class="category-typeahead form-control" ng-model="category_title" data-provide="typeahead" autocomplete="off" placeholder="Virus">
                                        </div>

                                        <label>Técnico:</label>
                                        <div class="form-group">
                                            <input type="text" class="technician-typeahead form-control" ng-model="technician_name" data-provide="typeahead" autocomplete="off" placeholder="ex: kharin, Lda">
                                        </div>
                                        <p>A partir de:</p>

                                        <div class="row ">
                                            <div class="col-sm-12">
                                                <div class="form-group">  
                                                    <input class="datepicker form-control-sm" id="input_date" ng-model="search_date" style="height: 35px" 

                                                           data-default-date="2017-01-02T16:16:22.585Z"
                                                           data-date-format="Y-m-d">
                                                </div>
                                            </div>

                                       
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <button class="btn btn-info" style="width: 100%" ng-click="search(category_title, technician_name)">PESQUISAR</button>
                                        </div>

                                    </form>



                                </div>
                                <div class="card panel panel-default ks-information ks-light">
                                    <h5 class="card-header">
                                        <span class="ks-text">Informações Adicionais</span>
                                        <a href="" class="btn btn-primary-outline ks-light ks-no-text" data-toggle="modal" data-target="#edit_contacts_modal"><span class="fa fa-pencil ks-icon" ></span></a>
                                    </h5>
                                    <div class="card-block">
                                        <div class="ks-info-list">
                                            <div class="ks-item">
                                                <div class="ks-name">Telefone</div>
                                                <div class="ks-text">{{activeUser.customer.customerPhone}}</div>
                                            </div>
                                            <div class="ks-item">
                                                <div class="ks-name">Email</div>
                                                <div class="ks-text">{{activeUser.customer.customerMail}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<!--        Edit Customer Contacts modal Modal-->
<div id="edit_contacts_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Contactos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="fa fa-close"></span>
                </button>
            </div>
            <div class="modal-body">
                            <form> 
                                <div class="form-group">
                                    <label>Telefone</label>
                                    <input  ng-model="activeUser.customer.customerPhone" type="text" class="form-control" placeholder="" >
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input ng-model="activeUser.customer.customerMail" type="text" class="form-control" placeholder="" >
                                </div>

                            </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <button  class="btn btn-info " id="btn_edit_contacts" ng-click="editContacts(activeUser.customer.customerMail, activeUser.customer.customerPhone)">Salvar</button>
                            </div>
                            </div>
                            </div>
                            </div>


