
<div class="row col-sm-12">
    <div class="col-sm-3"></div>
  
            <div class="card panel panel-default ks-solid col-sm-6" style=" margin-top: 50px; width: 40%; left: auto">
                <form class="form-container">
                    <h4 class="ks-header">ALTERAR SENHA</h4>
                    <div class="form-group">
                          <label>Senha Actual</label>
                        <div class="input-icon icon-left icon-lg icon-color-primary">
                            <input type="password" ng-model="current_password" class="form-control" placeholder="senha que usa actualmente">
                            <span class="icon-addon">
                                <span class="fa fa-key"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nova Senha</label>
                        <div class="input-icon icon-left icon-lg icon-color-primary">
                            <input type="password" class="form-control"ng-model="new_password" placeholder="introduza a senha que pretende">
                            <span class="icon-addon">
                                <span class="fa fa-key"></span>
                            </span>
                        </div> 
                    </div>
                    
                     <div class="form-group">
                        <label>Repetir a senha</label>
                        <div class="input-icon icon-left icon-lg icon-color-primary">
                            <input type="password" class="form-control"ng-model="repeat_new_password" placeholder="Repita a Nova Senha">
                            <span class="icon-addon">
                                <span class="fa fa-key"></span>
                            </span>
                        </div> 
                    </div>
                    
                    <div class="form-group" style="margin-top: 20 px; padding-bottom: 20 px">
                        <button type="button" class="btn btn-primary btn-block" id="btn_change_password"   ng-click="validateCredentials(current_password, new_password,repeat_new_password)">Alterar</button>
                    </div> 
                </form>
            </div>
    
    
    <div class="col-sm-3"></div>
</div>




