<br/><br/><br/>
<div class="card" style="padding: 40px;"> 
<div class="center">
        <p>
          <a href="#">
<!--              ng-src="{{userInfo.imageUrl}}"-->
              <img style="margin-top: -110px; border:2px solid #efefef;" src="webroot/assets/img/user_white.png" width="120" alt="" class="img-circle">
          </a>
        </p>
        <h1 class=" h2 m-b-0">Edgencio da Calista</h1>
        <p class="lead text-muted m-b-0">Edgencio@gmail.com</p> <!-- Slogan quando for fornecedor -->
      </div>
      ADMINISTRADOR
         <hr>
      <div class="card-group">
            <div class="card">
              <div class="card-block center">
                <h4 class="m-b-0">
                  <strong>10</strong>
                </h4>
                <small class="text-muted-light">Pedidos Efectuados</small>
              </div>
            </div>
            <div class="card">
              <div class="card-block center">
                <h4 class="text-success m-b-0">
                  <strong>05</strong>
                </h4>
                <small class="text-muted-light">Cotacoes</small>
              </div>
            </div>
            <div class="card">
              <div class="card-block center">
                <h4 class="text-danger m-b-0">
                  <strong>5</strong>
                </h4>
                <small class="text-muted-light">Pedidos </small>
              </div>
            </div>
            <div class="card">
              <div class="card-block center">
                <h4 class="text-primary m-b-0">
                  <strong>0</strong>
                </h4>
                <small class="text-muted-light">Pedidos Respondidos</small>
              </div>
            </div>
          </div>

         <hr style="border-style: dashed;"/>
         
    
    <div class="row">
        <div class="col-md-8">
            <div class="card">
              <ul class="list-group list-group-fit">
                <li class="list-group-item" ng-if="userInfo.mobile">
                  <span class="pull-xs-right"><i class="material-icons md-18">phone</i></span>847899888
                </li>
                <li class="list-group-item">
                  <span class="pull-xs-right"><i class="material-icons md-18">email</i></span>edgencio@gmail.com
                </li>
                <li class="list-group-item">
                  <span class="pull-xs-right"><i class="material-icons md-18">pin_drop</i></span>Matola.
                </li>
              </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                  <h5 class="card-title">Notas</h5>
                  <p class="card-text">
                      ...
                  </p>
                </div>
            </div>    
        </div>
    </div>
        
 </div>
